VITE_DEMO_STUDENT_A_PASSWORD=your_student_a_password_here
VITE_DEMO_STUDENT_B_PASSWORD=your_student_b_password_here
VITE_DEMO_STUDENT_C_PASSWORD=your_student_c_password_here
VITE_DEMO_FACULTY_PASSWORD=your_faculty_password_here
VITE_DEMO_ADMIN_PASSWORD=your_admin_password_here